<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: commonHead('Modifica Borsa')"></head>

<body>
    <div th:replace="fragments/navbar :: navbar(${users}, ${roles})"></div>

    <div class="container mt-5">
        <h1>Modifica Borsa</h1>

        <form th:action="@{/borse/edit/{id}(id=${borsa.id})}" th:object="${borsa}" method="post"
            class="mt-4 form-margin">

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome borsa">
                <div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>

            <div class="mb-3">
                <label class="form-label">Brand</label>
                <input type="text" th:field="*{brand}" class="form-control" placeholder="brand borsa">
                <div class="text-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></div>
            </div>

            <div class="mb-3">
                <label class="form-label">Descrizione</label>
                <textarea th:field="*{descrizione}" class="form-control" placeholder="Descrizione"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Prezzo</label>
                <input type="number" th:field="*{prezzo}" class="form-control" placeholder="Prezzo">
            </div>

            <div class="mb-3">
                <label class="form-label">Colore</label>
                <input type="text" th:field="*{colore}" class="form-control" placeholder="Colore">
            </div>

            <div class="mb-3">
                <label class="form-label">Dimensioni</label>
                <input type="text" th:field="*{dimensioni}" class="form-control" placeholder="Dimensioni">
            </div>

            <div class="mb-3">
                <label class="form-label">Collezione</label>
                <select name="collezioneId" class="form-select">
                    <option th:each="collezione : ${collezioni}" th:value="${collezione.id}"
                        th:text="${collezione.nome}"
                        th:selected="${borsa.collezione != null} ? ${collezione.id} == ${borsa.collezione.id} : false">
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Sconto</label>
                <select name="scontoId" class="form-select">
                    <option th:value="${null}" th:selected="${borsa.sconto == null}">Nessuno</option>
                    <option th:each="sconto : ${sconti}" th:value="${sconto.id}" th:text="${sconto.percentuale + '%'}"
                        th:selected="${borsa.sconto != null} ? ${sconto.id} == ${borsa.sconto.id} : false"></option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Immagine</label>
                <input type="text" class="form-control" th:field="*{immagine}" placeholder="URL dell'immagine">
                <div th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}" class="text-danger"></div>
            </div>


            <button type="submit" class="btn btn-outline-primary">Salva</button>
            <a th:href="@{/borse}" class="btn btn-outline-secondary">Annulla</a>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: commonScripts"></div>
</body>

</html>