<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="fragments/head :: commonHead('Lista Borse')"></head>

<body>
    <div th:replace="fragments/navbar :: navbar(${users}, ${roles})"></div>


    <div class="container mt-5">
        <h1>Lista Borse</h1>

        <!-- Pulsante aggiungi solo per admin -->
        <a class="btn btn-primary mb-3" th:href="@{/borse/create}" sec:authorize="hasRole('ADMIN')">Aggiungi
            Nuova
            Borsa</a>

        <table class=" table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Prezzo</th>
                    <th>Collezione</th>
                    <th>Sconto</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="borsa : ${borse}">
                    <td th:text="${borsa.id}"></td>
                    <td th:text="${borsa.nome}"></td>
                    <td th:text="${borsa.prezzo}"></td>
                    <td th:text="${borsa.collezione.nome}"></td>
                    <td th:text="${borsa.sconto != null ? borsa.sconto.percentuale + '%' : 'Nessuno'}"></td>
                    <td>
                        <!-- Dettaglio sempre visibile -->
                        <a class="btn btn-info btn-sm" th:href="@{/borse/{id}(id=${borsa.id})}">Dettaglio</a>

                        <!-- Modifica ed elimina solo per admin -->
                        <a class="btn btn-warning btn-sm" th:href="@{/borse/edit/{id}(id=${borsa.id})}"
                            sec:authorize="hasRole('ADMIN')">Modifica</a>
                        <form th:action="@{/borse/delete/{id}(id=${borsa.id})}" method="post"
                            style="display:inline-block" sec:authorize="hasRole('ADMIN')">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Sei sicuro di voler eliminare questa borsa?')">Elimina</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: commonScripts"></div>
</body>

</html>