<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: commonHead('Lista Sconti')"></head>

<body>
    <div th:replace="fragments/navbar :: navbar(${users}, ${roles})"></div>

    <div class="container mt-5">
        <h1 class="text-secondary">Sconti</h1>
        <!-- Pulsante Crea solo per admin -->
        <a th:href="@{/sconti/create}" class="btn btn-outline-secondary mb-3" sec:authorize="hasRole('ADMIN')">Crea
            Nuovo
            Sconto</a>

        <table class=" table table-striped">
            <thead>
                <tr>
                    <th>Percentuale</th>
                    <th>Data Inizio</th>
                    <th>Data Fine</th>
                    <th sec:authorize="hasRole('ADMIN')">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sconto : ${sconti}">
                    <td th:text="${sconto.percentuale} + '%'"></td>
                    <td th:text="${sconto.dataInizio}"></td>
                    <td th:text="${sconto.dataFine}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/sconti/edit/{id}(id=${sconto.id})}"
                            class="btn btn-outline-warning btn-sm">Modifica</a>
                        <form th:action=" @{/sconto/delete/{id}(id=${sconto.id})}" method="post" style="display:inline">
                            <button type="submit" class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('Sei sicuro di voler eliminare questo sconto?')">Elimina</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: commonScripts"></div>
</body>

</html>