<div th:fragment="navbar(username, ruolo)" th:if="${username != null}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold text" href="#">Borse Luxury Backoffice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/borse}">Borse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/collezioni}">Collezioni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sconti}">Sconti</a>
                    </li>
                </ul>

                <span class="navbar-text text-secondary fw-semibold">
                    Utente: <span class="text-color" th:text="${username}">admin</span> |
                    <span class="text-color" th:text="${ruolo}">ADMIN</span>
                </span>

                <!-- Pulsante logout -->
                <form th:action="@{/logout}" method="post" class="m-0 d-inline">
                    <button type="submit" class="btn btn-outline-secondary btn-sm mx-3">Logout</button>
                </form>

            </div>
        </div>
    </nav>
</div>