<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: commonHead('Lista Collezioni')"></head>

<body>
    <div th:replace="fragments/navbar :: navbar(${users}, ${roles})"></div>


    <div class="container mt-5">
        <h1>Collezioni</h1>
        <!-- Pulsante Crea solo per admin -->
        <a th:href="@{/collezioni/create}" class="btn btn-outline-primary mb-3" sec:authorize="hasRole('ADMIN')">Crea
            Nuova
            Collezione</a>

        <table class=" table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Stagione</th>
                    <th>Descrizione</th>
                    <th sec:authorize="hasRole('ADMIN')">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" collezione : ${collezioni}">
                    <td th:text="${collezione.nome}">Nome</td>
                    <td th:text="${collezione.stagione}">Stagione</td>
                    <td th:text="${collezione.descrizione}">Descrizione</td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <!-- Modifica ed elimina solo per admin -->
                        <a th:href=" @{/collezioni/edit/{id}(id=${collezione.id})}"
                            class="btn btn-outline-warning btn-sm">
                            Modifica</a>
                        <form th:action=" @{/collezioni/delete/{id}(id=${collezione.id})}" method="post"
                            style="display:inline">
                            <button type="submit" class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('Sei sicuro di voler eliminare questa collezione?')">Elimina</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: commonScripts"></div>
</body>

</html>